body { 
    margin:0; 
    padding:0; 
}    
#map { position: absolute; 
        top:0; 
        bottom:0; 
        left:0; 
        width: 65%;
        border-right-color: black;
        border-right-width: 5px;
    }
#instructions{
    position: absolute; 
        top:0; 
        bottom:0; 
        right:0; 
        width: 35%;
        background-color: #dfdbdb;
}
#instructions h3 {
    padding: 10px;
}
#instructions h4 {
    padding: 10px;
}
#instructions p {
    padding: 10px;
}
.button{
    width: 30px;
    height: 30px;
    background-color: white;
    line-height: 30px;
    font-size: 28px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    cursor: pointer;
}
.menu {
    height: 60px;
    width: 30vw;
    background-color: white;
}
.url-input {
    width: 80%;
    top: 30%;
    position: absolute;
    left: 2px;
}
.load-button {
    width: 15%;
    top: 30%;
    float: right;
    right: 2%;
    position: relative;
}